<header>
        <div class="images-container d-flex justify-content-between">
            <div class= "imgs">
                 <%= image_tag("logo.png") %>
            </div>
           <div class= "imgs">
                 <%= image_tag("leaf.jpg", class: "userImg") %>
            </div>
            
        </div>
        <div class="header-content text-white text-center">
            <h2>A joke a day keeps the doctor away</h2>
            <p>If you joke wrong way, your teeth have to pay. (Serious)</p>
        </div>
</header>